# Secrets
.env
*.pem
*.key

# Python
__pycache__/
*.pyc
*.pyo
*.so
.Python

# Docker
.venv
.env
venv/

# Airflow logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data (if CSV is large)
data/*.csv
!data/.gitkeep